@font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-VariableFont.ttf) format(truetype);
}

:root {
    background-color: #1a1a1e;
}

body {
    font-family: Inter;
    font-size: 1.2rem;
    text-align: center;
    color: white;
}

img {
    max-width: 40%;
    height: auto;
    border-radius: 1rem;
    outline: solid .1rem rgba(255, 255, 255, 0.16);
    outline-offset: -.1rem;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    margin-top: 2rem;
}